{% extends 'base.html' %}

{% block 'cabecalho' %}
    {% include "partials/header.html" %}
{% endblock 'cabecalho' %}

{% block 'conteudo' %}

    {% if user.is_authenticated %}
        
        <p>Bem-vindo, {{ user.first_name }}!</p>
        <img src="{{imagem_url}}" alt="" class= "rounded-circle">
        
        <div class="text-center">
            <a class="btn btn-danger" href="{% url 'logout' %}">LogOut</a>
        </div>
    {% endif %}

    <h2>Home Page</h2>

{% endblock 'conteudo' %}

{% block 'rodape' %}
    {% include "partials/footer.html" %}
{% endblock 'rodape' %}