:root{
 
    --geral-bg-color: #f1f1ce;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body 
{
    height: 100%;
    background-color: var(--geral-bg-color);
    font-family: 'Segoe UI', sans-serif;
}