:root
{
    --footer-bg-color: #deb887;
    --footer-p-color: #8b4513;
}

footer 
{
    background-color: var(--footer-bg-color);
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p 
{
    color: var(--footer-p-color);
}