{% extends "base.html" %}
{% load static %}
{% block 'head' %}

<link rel="stylesheet" href="{% static 'geral/css/404.css' %}">
{% endblock 'head' %}

{% block 'body' %}
{% include "partials/header.html" %}


<section class="page_404">
	<div class="container">
		<div class="row">

			<div class="col-sm-15 col-sm-offset-1  text-center">
				<div class="four_zero_four_bg">
					<h1 class="text-center ">404</h1>
				</div>

				<div class="contant_box_404">
					<h3 class="h2">
						Parece que você está perdido
					</h3>

					<p>A página em questão não está disponível!</p>

					<a href="{% url 'home' %}" class="link_404">Voltar a Home</a>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "partials/footer.html" %}

{% endblock 'body' %}