{% extends "base.html" %}
{% load static %}
{% block 'head' %}

<link rel="stylesheet" href="{% static 'myapp/css/listar_livros.css' %}">
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

{% endblock 'head' %}

{% block 'body' %}

{% include "partials/header.html" %}

<div class="container text-center mt-4">
  <div class="add-livro">
    <a class="btn btn-success" href="{% url 'cadastrar_livro' %}">+ Adicionar Livro</a>
  </div>

  <div class="slider mt-4">
    <span class="h4">Livros Cadastrados</span>
    <div class="swiper mt-4">
      <div class="swiper-wrapper">
        {% for livro in livros %}
        <div class="swiper-slide">
          <div class="img">
            <img src="{{ livro.capa.url }}" alt="Capa Livro: {{ livro.nome }}">
          </div>
          <div class="infos">
            <p class="h5 mt-2">{{livro.nome}}</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

{% include "partials/footer.html" %}

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="{% static 'myapp/js/slider.js' %}"></script>

{% endblock 'body' %}